.myCarousel {
  position: absolute;
  top: 0;
}

.navLogo {
  width: 25%;
  height: 25%;
}

.carousel-image-berkeley {
  height: auto;
  //width: 100%;
  //min-width: 100%;
  width: auto;
  opacity: 0.9;
}

